body {
  background: linear-gradient(to bottom right, #00aaff, #00ff62);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  background: transparent;
  width: 300px;
  padding: 20px;
  
}

.calculator-screen {
  background-color: #0d0d53;
  color: #fff;
  font-size: 24px;
  text-align:right;
  padding-bottom: 200px;
  padding-top: 30px;
  padding-right: 30px;
  border-radius: 25px 25px 0 0;
  
}

.calculator-buttons {
  background-color: hsl(248, 73%, 6%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 0 0 25px 25px;
  padding-bottom: 20px;
}

button {
  background: hsl(248, 73%, 6%);
  color: #c7c5c5;
  font-size: 20px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-top: 9px;
  cursor: pointer;
  
}

button:hover {
  background: #000;
}

.operator {
  color: #404090;
}
